* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img {
  height: auto;
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
}
#title {
  font-size: 32px;
  font-weight: 800;
  color: hsl(0, 0%, 50%);
  background-color: hsl(34, 78%, 91%);
}
.subtitle {
  font-size: 26px;
  font-weight: 600;
  color: aliceblue;
  background-color: hsl(0, 20%, 50%);
}
#desc {
  font-size: 22px;
}
.item, .ingre, #desc{
  font-size: 18px;
  font-weight: 300;
  color: black;
}